body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: larger;
}
.gfg {
    position: relative;
}
.first-txt {
    padding-left: 1cm;
    color:rgb(236, 240, 243);
    position: absolute;              
    top: 50%;                         
    transform: translate(0, -50%);
    font-size: 80px;
    font: italic;
}
.profile-picture {
    width: 400px; /* Adjust the width and height as needed */
    height: 400px;
    background-image: url('your-image.jpg'); /* Replace with your image file path */
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Makes it a circle for a classic profile picture look */
    border: 2px solid #fff; /* Optional: add a border and adjust the color */
  }
footer{
    background-color: #333;
}